/*
@font-face {
    font-family: 'circular';
    src: url('../Ti_Circular.eot');
    src: local('☺'), url('../Ti_Circular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

.circular{
    color:#FFFFFF;
    letter-spacing: -0.5px;
    font: normal 15px;
    text-align:left;
} 
.circularBold {
    color:#FFFFFF;
    letter-spacing: -0.5px;
    font: Bold 15px;
    text-align:left;
    text-decoration:none;
} 
.circularBoldBlack {
    color:#000000;
    letter-spacing: -0.5px;
    font: Bold 15px;
    text-align:left;
    text-decoration:none;
} 
.circularBold a:link{
    color:#FFFFFF;
    letter-spacing: -0.5px;
    font: Bold 15px;
    text-align:left;
    text-decoration:none;
} 
.circularBold a:hover{
    color:#FF6600;
    letter-spacing: -0.5px;
    font: Bold 15px;
    text-align:left;
    text-decoration:none;
} 

.blank {
    font: 2px Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.banner img {
    border: solid 5px transparent;
    border-color:#EB8514;
}
.banner img:hover {
    border-color: white;
}


* {margin:0; padding:0}
p {line-height:1.4; margin-bottom:0px}
#wrapper {width:1200px; height:320px}

.sliderbutton {float:none; width:32px; padding-top:134px}
.sliderbutton img {cursor:pointer}
.sliderbutton img:hover {background:#666}
#slideshow {position:relative; width:1200px; height:320px}
#slides {position:relative; width:1200px; height:320px; overflow:auto; float:left}
#slides li {width:1200px; height:320px}

.pagination {
    position:relative;
    top: -70px;
    left: 550px;
    list-style:none;
    height:10px;
    width: 300px;
    z-index: 120;
}
.pagination li {
    display: inline-block;
    height:10px;
    width:10px;
    float:left; 
    cursor:default;
    background-image:url(../images/slide_button_off.png);
    border:0px; 
    margin:3px; 
    text-align:right; 
    font:Arial, Helvetica, sans-serif; 
    font-size:8px;
}
.pagination li:hover {
    width:10;
    float:left; 
    cursor:default;
    padding:0px;
    background-image:url(../images/slide_button_on.png);
    border:0px; 
    margin:3px; 
    text-align:center; 
    font:Arial, Helvetica, sans-serif; 
    font-size:8px;
}
li.current {
    width:10;
    float:left; 
    cursor:default;
    padding:0px;
    background-image:url(../images/slide_button_on.png);
    border:0px; 
    margin:3px; 
    text-align:center; 
    font:Arial, Helvetica, sans-serif; 
    font-size:8px;
}

.TextWhite01 {
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    text-align:left;
}
.TextWhite02 {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    text-align:left;
}
.TextWhite03 {
    font: bold 15px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    text-align:left;
}
.TextWhiteHead_01 {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    text-align:left;
}
.TextFooter {
    font: normal 10px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.TextWhiteHead_01 a:link {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}
.TextWhiteHead_01 a:hover {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FF6600;
    text-decoration: none;
}

.tableOrangeBorder {
    border:solid 1px;
    border-color:#FF6600;
}
.tableWhiteBorder {
    border:solid 1px;
    border-color:#FFFFFF;
}
.TextBlack01 {
    font: bold 15px Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    text-align:left;
}
.TextfieldBox01 {
    font: 12px Arial, Helvetica, sans-serif;
    color: #666666;
    text-decoration: none;
    height: 25px;
    width: 280px;
}
.TextfieldBox02 {
    font: 12px Arial, Helvetica, sans-serif;
    color: #666666;
    text-decoration: none;
    height: 140px;
    width: 350px;
}
table.speech
{
    border-collapse:collapse;
    background-color: #EB8514;
	font-size:14px;
}
table.speech,table.speech td,table.speech th
{
    border:0px;
    color:#fff;
    padding: 10px;
}

/*
table.price
{
    border-collapse:collapse;
}
table.price,table.price td,table.price th
{
    border:1px solid white;
    color:#fff;
    padding: 10px;
    text-align: center;
}
*/

table.price
{
    border-collapse:collapse;
	border: 1px solid #FFF;
}
table.price,table.price td,table.price th
{
    padding: 3px;
    text-align: center;
	font-size:13px;
}